/*Criação do estilo css*/
body {
    font-family: Helvetica;
    text-align : center;
    color: #fff;
    background: #333;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
ul{
    display: flex;
}
